@charset "utf-8";

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Courgette', cursive;
    height: 100%;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px rgb(83, 83, 83);
    margin: 0.15rem;
}

.subheading {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 5px #000;    
}

header, nav, main, footer {
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 850px;
}

header, footer {
    background-color: teal;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
}

header img {
    float: right;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

main h1 {
    border-bottom: 2px solid black;
    font-family: 'Playfair Display', serif;
}

footer a {
    color: black;
    font-weight: bold;
}
