body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
/* Small / Baseline view */
header, footer {
    margin: 0 auto;
    padding: 0.15rem;
    background-color: rgba(238, 128, 3, 0.795);
    text-align: center;
    font-family: 'Segoe UI';
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h1 {
    font-size: 2em;
    margin: 0 0 0 17px;
}
.banner h2, .banner h3 {
    margin: 0;
    text-align: center;
}
.moto {
    font-family: 'Playfair Display';
    font-style: italic;
    margin-left: 20px;
}
footer {
    max-width: 950px;
}

header img {
    width: 80px;
    height: auto;
}

table {
    border-collapse: collapse;
    background-color: rgba(0, 225, 225, .3); 
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table th {
    width: 150px;
}

nav {
    background-color: rgb(9, 9, 105);
    box-shadow: 0 2px 15px rgb(107, 106, 106);
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    overflow: hidden;
}

.navigation {
    text-align: center;
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
    white-space: nowrap;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    background-color: rgba(255, 217, 0, 0.568);
    color: #000;
    font-weight: 700;
}

.responsive li {
    display: block;
}

main {
    padding: 0px;
    margin: auto;
    text-align: center;
    background-color: rgba(9, 9, 9, .2);
    max-width: 950px;
}
main section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courgette';
    font-weight: bold;
}
main h2 {
    background-color: rgb(0, 225, 255);
    font-size: 1.5em;
}

.forecast {
    display: none;
}

.herocontainer {
    margin: 10px auto;
    position: relative;
}

.heroimg {
    margin: 10px auto;
    border: 1px solid #333;
    width: 100%;
}

.weathersummary {
    position: absolute;
    top: 20px;
    left: 40px;
    background: rgba(0, 225, 225, .3);
    border: 1px solid blue;
    padding: .5rem;
    box-shadow: 0 0 30px #777;
}

.weathersummary h3 {
    text-decoration: underline;
}

.weathersummary p {
    text-align: left;
}

.active {
    background-color: rgb(0, 225, 255);
}

.active a {
    color: #000;
    font: bold;
}

.article {
    font-family: 'Arial';
    padding: .5rem;
}

.artimg {
    width: 300px;
    height: auto;
    padding: .5rem;
}

.banner {
    background-color: rgb(0, 225, 255);
}

.contact {
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0;
    overflow: auto;
    background-color: #fff;
}

.contact img {
    display: none;
    float: left;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.contactlist {
    list-style-type: none;
    text-align: justify;
}

