@charset "utf-8";

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
    height: 100%;
}

header {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 950px;
    align-content: center;
    background-color: rgba(0, 128, 128, 0.644);
    text-align: center;
    font-family: 'Courgette', cursive;
}



/* Small or baseline view *******/
main {
    max-width: 767px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.2rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


main img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 10px #bbb;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    align-items: baseline;
}


main section {
    margin: 1rem;
    border: 1px solid #000;
    border-radius: 15px;
    padding: .75rem;
    background-color: rgb(206, 236, 245);
}





/* Medium view  *********/
@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    header {
        border-radius: 15px;
    }

    section:nth-child(3) {
        grid-column: span 2;
    }

}


/* Large view ********/
@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 850rem;
    }

    section:nth-child(3) {
        grid-column: span 1;
    }

}