@charset "utf-8";

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}
/* Small / Baseline view */
header, footer {
    margin: 0 auto;
    padding: 0.15rem;
    background-color: rgba(238, 128, 3, 0.795);
    text-align: center;
    font-family: 'Segoe UI';
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h1 {
    font-size: 2em;
    margin: 0 0 0 17px;
}
.moto {
    font-family: 'Playfair Display';
    font-style: italic;
    margin-left: 20px;
}
footer {
    max-width: 750px;
}
header img {
    width: 80px;
    height: auto;
}
nav {
    background-color: rgb(9, 9, 105);
    box-shadow: 0 2px 15px rgb(107, 106, 106);
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    overflow: hidden;
}

.active {
    color: yellow;
}

.navigation {
    text-align: center;
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    background-color: rgb(0, 225, 255);
    color: #000;
    font-weight: 700;
}

.responsive li {
    display: block;
}

main {
    padding: 0px;
    margin: auto;
    text-align: center;
    background-color: rgba(9, 9, 9, .2);
    max-width: 750px;
}
main section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courgette';
    font-weight: bold;
}
main h2 {
    background-color: rgb(0, 225, 255);
    font-size: 1.5em;
}

