.townInfo section {
    max-width: 100%;
    background-color: rgba(9, 9, 9, .15);
    ;
}

.townInfo section img {
    max-width: 90%;
}

.motto {
    font-style: italic;
    padding-bottom: 15px;
    font-size: 1.1rem;
}

.townInfo h2 {
    margin-bottom: 0px;
}

.townInfo a {
    text-decoration: none;
    color: black;
}

.townInfo p {
    margin: auto 0;
    font-family: 'Playfair';
}

.contest h2 {
    background-color: rgba(9, 9, 9, 0);
}

.contest section {
    max-width: 85%;
}

@media only screen and (min-width: 32.5em) and (max-width: 64.9em) {

    .townInfo {
        display: grid;
        grid-template-columns: 1fr;
    }

    .townInfo h2 {
        background-color: rgba(9, 9, 9, 0);
    }

    .townInfo section {
        margin: auto 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .townInfo section:nth-child(even) {
        flex-direction: row-reverse;
    }

    .townInfo article {
        margin: 0 10% 0 10%;
    }

    .townInfo img {
        width: 250px;
        margin: auto 0;
    }
}

@media only screen and (min-width: 65em) {

.townInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.townInfo img {
    width: 90%;
}



}